<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
    <body class="bg-gradient-primary-to-secondary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <!-- Basic registration form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header justify-content-center">
                                        <h3 class="fw-light my-4">Add Microcontroller</h3>
                                    </div>
                                    <div class="card-body">
                                        <!-- Registration form-->
                                        <form class="form-horizontal" action="/insert" method="post">
                                            <!-- Form Row-->
                                            <!-- Form Group (email address)            -->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="namemicrocontroller">Name Microcontroller</label>
                                                <input class="form-control" id="namemicrocontroller" type="text"
                                                    name="namemicrocontroller" placeholder="Enter microcontroller" />
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3">
                                                <div class="col-md-6">
                                                    <!-- Form Group (name sonser 1)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="namesonser1">Name Sonser 1</label>
                                                        <input class="form-control" id="inamesonser1" type="text"
                                                            name="namesonser1" placeholder="Enter sonser 1" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Form Group (name sonser 2)-->
                                                    <div class="mb-3">
                                                        <label class="small mb-1" for="namesonser2">Name Sonser 2</label>
                                                        <input class="form-control" id="inamesonser2" type="text"
                                                            name="namesonser2" placeholder="Enter sonser 2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Group (create Microcontroller)-->
                                            <button class="btn btn-primary btn-block" type="submit">Create Microcontroller</button>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/index">Back Index</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <%- include('footer.ejs') %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>

</html>