<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

    <body class="nav-fixed">
        <%- include('navbar.ejs') %>
            <div id="layoutSidenav">
                <%- include('sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                                <div class="container-xl px-4">
                                    <div class="page-header-content pt-4">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col-auto mt-4">
                                                <h1 class="page-header-title">
                                                    <div class="page-header-icon"><i data-feather="bar-chart"></i></div>
                                                    Charts
                                                </h1>
                                                <div class="page-header-subtitle">Interactive charts to display your
                                                    data</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Main page content-->
                            <div class="container-xl px-4 mt-n10">
                                <!-- Area chart example-->
                                <div class="card mb-4">
                                    <div class="card-header">Area Chart Example</div>
                                    <div class="card-body">
                                        <div class="chart-area"><canvas id="myAreaChart" width="100%"
                                                height="50"></canvas>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">Area Chart Example1</div>
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="myAreaChart1" width="100%" height="30"></canvas>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Bar chart example-->
                                        <div class="card mb-4">
                                            <div class="card-header">Bar Chart Example</div>
                                            <div class="card-body">
                                                <div class="chart-bar"><canvas id="myBarChart" width="100%"
                                                        height="50"></canvas></div>
                                            </div>
                                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Pie chart with legend example-->
                                        <div class="card h-100">
                                            <div class="card-header">Traffic Sources</div>
                                            <div class="card-body">
                                                <div class="chart-pie mb-4"><canvas id="myPieChart" width="100%"
                                                        height="50"></canvas></div>
                                                <div class="list-group list-group-flush">
                                                    <div
                                                        class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <i class="fas fa-circle fa-sm me-1 text-blue"></i>
                                                            Direct
                                                        </div>
                                                        <div class="fw-500 text-dark" id="resultX"></div>
                                                    </div>
                                                    <div
                                                        class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <i class="fas fa-circle fa-sm me-1 text-green"></i>
                                                            Referral
                                                        </div>
                                                        <div class="fw-500 text-dark" id="resultY"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <%- include('footer.ejs') %>
                    </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                crossorigin="anonymous"></script>
            <script src="assets/demo/chart-area-demo.js"></script>
            <script src="assets/demo/chart-bar-demo.js"></script>
            <script src="assets/demo/chart-pie-demo.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function (event) {
                    var scrollpos = localStorage.getItem('scrollpos');
                    if (scrollpos) window.scrollTo(0, scrollpos);
                });
                window.onbeforeunload = function (e) {
                    localStorage.setItem('scrollpos', window.scrollY);
                };
            </script>
    </body>

</html>